.mynotice {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 25px;
    border-radius: 5rem;
    margin-bottom: 20px;
}

.mynotice .mynotice-box{
    height: 500px;
    width: 100%;
    box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.11);
    margin-top: 30px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
}

.box-top {
    padding: 20px 50px 0px 50px;
}

.mynotice .mynotice-box .box-top img{
    height: 200px;
    width: 100%;
    border-radius: 50%;
    border: 6px solid whitesmoke;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
    
    transition: filter 0.4s ease-in-out;
}

.mynotice-box:hover img {
    filter: none;
}

.mynotice .mynotice-box:hover {
    background-color: antiquewhite;


}

.box-down{
    text-align: justify;
}
.box-title {
    text-align: center;


}

 .box-body {
    overflow-y:scroll;
    overflow-x: hidden;
    font-size: small;
    padding: 10px 10px 0px 5px;
    height: 220px;
    width: 100%;
}

.mynotice .mynotice-box .box-down .box-body ul li span {
    padding: 0px 8px 0px 7px;
}

@media (max-width:540px) {
    @media (min-width:150px) {
        .mynotice {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 5px;
            margin: 20px 20px 20px 10px;
            border-radius: 0px 0px 10px 10px;
            padding: 2.5rem;
        }

        .mynotice-box {
            padding: 0px 20px 20px 20px;
        }

        .mynotice .mynotice-box .box-top img {
            height: 180px;
            width: 100%;
        }

    }

}

@media (max-width:1024px) {
    @media (min-width:600px) {
        .mynotice {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 15px;
            margin: 25px 20px 20px 10px;
            border-radius: 5rem;
        }

        

         .box-top img {
            height: 180px;
            width: 100%;
        }

         .box-top {
            padding: 10px 20px 5px 20px;
        }

        .mynotice-box {
            height: 480px;
        }
    }

}